@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
body{
font-family: 'Grape', cursive;

}
hr{
    border:rgb(0, 0, 0) solid 2px;
}

h1{
    text-decoration: black solid underline;
}